useDynLib(rCOSA, .registration = TRUE)
exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "palette")
importFrom("graphics", "axis", "barplot", "boxplot", "hist", "lines",
            "locator", "par", "plot", "segments", "text", "title"
)
importFrom("stats", "IQR", "as.dendrogram", "as.dist", "cmdscale",
            "dist", "hclust", "lm", "median", "rect.hclust", "runif",
            "var"
)
